[Unit]
Description=Odczyt czujnikow Meteo i wysylka do Flaska
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=test
WorkingDirectory=/home/test
ExecStart=/usr/bin/python3 /home/test/meteo.py
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=meteo_service

[Install]
WantedBy=multi-user.target
